<% (1..10).each do |i| %>
    <h1 class="text-info">About Siemens PLM Software</h1>
    <p>Siemens PLM Software is the first unified architecture solution that allows you to combine solutions to empower and connect all stakeholders. Specially designed for complex development environments, whether applications or embedded systems, our solutions provide the underpinnings to accelerate collaboration, integrity and innovation, so our customers can focus on solving important problems for their clients.</p>
<% end %>