<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<%= link_to 'Edit', edit_theme_path(@role), class: "btn btn-info" %>
<%= link_to 'Back', roles_path, class: "btn btn-secondary" %>