.table-striped a {
    padding: 10px;
    color: #444444;
}

.alert {
    position: absolute;
    right: 0;
}

table.show-table {
    th {
        width: 180px;
        text-align: right;
    }

    td {
        padding-left: 20px;
    }
}

nav.navbar-index-header {
    padding: 0;
}

nav.navbar-index-header {
    a, select, input, .input-group {
        margin-bottom: 5px;
    }
}

.bg-green-light {
    background-color: #b6e6d24d !important;
}

.bg-yellow-light {
    background-color: #ece6d063 !important;
}

.bg-pink-light {
    background-color: #ebd0ec63 !important;
}

.bg-blue-light {
    background-color: #667bd42b !important;
}

@media print {
    div#sidebar-wrapper, nav.navbar-wrapper, td.action {
        display: none;
    }

    div.main-content, nav.title-navbar-wrapper {
        margin-left: -200px;
    }

    #print-header, #print-footer {
        font-weight: bold !important;
        color: #000 !important;
    }
}