.table-striped a {
    padding: 10px;
    color: #444444;
}

.alert {
    position: absolute;
    right: 0;
}

table.show-table {
    th {
        width: 180px;
        text-align: right;
    }

    td {
        padding-left: 20px;
    }
}