
/*  Navbar styling */
.navbar-wrapper {
    height: 50px;
    position: fixed;
    right: 0;
    left: 250px;
    z-index: 1;
}

.navbar-wrapper #menu-toggle {
    display: none;
}

.navbar-wrapper a {
    color: #ddd;
    text-decoration: none;
    line-height: 50px;
    padding: 0 15px 0 15px;
}

.navbar-wrapper a:hover {
    color: #fff;
}

.main-navbar {
    list-style: none;
    display: inline-flex;
}

#navbar-lable {
    font-size: 11px;
}

/*  Title navbar styling */
.title-navbar-wrapper {
    border: 1px solid #e8f3f3;
    padding: 5px 0 5px 15px;
    margin-top: 50px;
}

/*  Auto resize for navbar to display it */
@media (max-width: 768px) {
    .navbar-wrapper #menu-toggle {
        display: inline;
    }

    .navbar-wrapper {
        left: 0;
    }

    .navbar-wrapper #fa-arrow {
        display: none;
    }

    #wrapper.menuDisplayed .navbar-wrapper #fa-arrow {
        display: inline;
    }

    #wrapper.menuDisplayed .navbar-wrapper #fa-bars {
        display: none;
    }

}