// Place all the styles related to the ProductSales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div#sale-card {
    height: 100px;
    text-align: center;
    background: #495057;
    padding: 5px;
    color: #fff;
}

div#nav-tab {
    background: #f2f2f2;
}

div#nav-tabContent {
    border: 2px solid #f2f2f2;
    padding: 5px !important;
}