// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div#user_theme {
    border: 1px solid #dee2e6;
    background: #e9ecef;
    width: 100px;
    height: 70px;
}

div#user_navbar_theme {
    height: 10%;
}

div#user_sidebar_theme {
    width: 40%;
    height: 90%;
}