<nav class="navbar-wrapper">
  <ul class="main-navbar main-navbar-toggle">
    <li><a herf="#" id="menu-toggle"><i class="fas fa-angle-double-left"></i></a></li>
  </ul>
  <ul class="main-navbar main-navbar-right float-right">
    <li><a href="#"><i class="fas fa-user text-white"></i><i id="navbar-lable"> Kyaw Thet Aung</i></a></li>
    <li><a href="#"><i class="fas fa-bell"></i></a></li>
    <li><%= link_to '<i class="fas fa-sign-out-alt"></i>'.html_safe, destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
  </ul>
</nav>