<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
  <div class="card">
        <div class="card-header">
            Accept Deny
        </div>
        <div class="card-body">
            <h5 class="card-title text-danger">You do not have the authority to access.</h5>
            <p class="card-text">This action might be forbidden. Please try again by refreshing the page.</p>
            <%= link_to root_path, class: "btn btn-info" do %>Go To Home<% end %>
        </div>
    </div>
  </body>
</html>
